  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

      <mat-card>
      <img src="assets/profile.png" id="profilePhoto">
    
      <h3><b>V.D. Siriwardhana</b></h3>
      <p>vdsiriwardhana@gmail.com</p></mat-card>


      <!----------------Contents in the side bar--------------------->
      
      <mat-selection-list #shoes [multiple]="false" >
        <mat-list-option (click)="drawer.toggle()" >
          <a routerLink="/past_appoinments">Appoinments</a>
        </mat-list-option>

        <mat-list-option  (click)="drawer.toggle()">
          <a routerLink="/speciality_list">Speciality</a>
        </mat-list-option>

        <mat-list-option (click)="drawer.toggle()" >
          <a routerLink="/doctor_list">DOCTOR</a>
        </mat-list-option>

        <mat-list-option (click)="drawer.toggle()" >
          <a routerLink="/hospital_list">HOSPITAL</a>
        </mat-list-option>

        <mat-list-option (click)="drawer.toggle()">
          <a routerLink="/logout">LOGOUT</a>
        </mat-list-option>
      </mat-selection-list>
      
    </mat-drawer>
  
    <div class="example-sidenav-content">


<!--Nav tool bar-->

<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>DOC-908</span>
  </mat-toolbar>


    </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>


